services:
  app: 
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env 

  db:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: